.main {
  flex: 1;

  max-width: 60rem;
  width: 100%;

  margin: var(--space-xl) auto;
}

.header {
  margin-bottom: var(--space-lg);
}

.container {
  display: flex;
  gap: var(--space-xl);
}

@media (max-width: 62em) {
  .container {
    flex-direction: column-reverse;
  }

  .header {
    display: none;
  }
}
