.container {
  flex: 0 0 50%;

  max-width: 30rem;

  display: flex;
  flex-direction: column;
}

@media (max-width: 62em) {
  .container {
    align-self: center;
  }
}

.form-group {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;

  grid-gap: var(--space-med);

  margin-bottom: var(--space-lg);
}

.form-group__text {
  margin-bottom: var(--space-med);
  grid-column: 1 / -1;
}

.gird-item--full-width {
  grid-column-end: span 2;
}
